.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  row-gap: 15px;
  column-gap: 15px;
  margin-bottom: 30px;
}

img {
  display: block;
  max-width: 100%;
}

.info {
  text-align: center;
}

.photo-card {
  list-style: none;
  text-decoration: none;
}
